.footerlinks {
    color: #000000;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #cccccc;
    }

#footer1 {
    background: #ffffff;
}

#footer2 {
    background: #ffffff;
}

body {
    background-color: black;
    color: white;
}

/*.ddl option:disabled {
    color: #000;
    font-weight: bold;
}

.ddl listitem:disabled {
    color: #000;
    font-weight: bold;
}

option:disabled {
    color: red;
}*/

[disabled] { /* Text and background colour, medium red on light yellow */
    border: solid 1px silver;
    background-color: #999999;
    font-weight: bold;
    opacity: 0.6;
}

.bg-navyblue {
    background-color: #00ccff;
}
